:root {
    --base03: #002b36;
    --base02: #073642;
    --base01: #586e75;
    --base00: #657b83;
    --base0: #839496;
    --base1: #93a1a1;
    --base2: #eee8d5;
    --base3: #fdf6e3;
    --yellow: #b58900;
    --orange: #cb4b16;
    --red: #dc322f;
    --magenta: #d33682;
    --violet: #6c71c4;
    --blue: #268bd2;
    --cyan: #2aa198;
    --green: #859900;
}

body {
    margin: 10px;
    background-color: var(--base3);
    color: var(--base01);
}

p,
li {
    line-height: 1.4;
    font-size: 17px;
    font-family: sans-serif;
}

#content {
    max-width: 45em;
    margin: auto;
}

h1,
h2,
h3,
h4 {
    font-family: sans-serif;
    color: var(--base01);
}

.figure {
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.figure-number {
    font-weight: bolder;
    color: var(--base01);
}

a {
    color: var(--cyan);
}

a:hover {
    color: var(--red);
}

code {
    background-color: var(--base2);
}
